@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #23252C;
  font-family: 'Inter', sans-serif;
}

p {
  font-size: .64rem;
  line-height: 1.5em;
  color: #DCDCDC;
}

h3 {
  line-height: 1.5em;
}
.container {
  width: 320px;
  margin: 4em auto;
  background: #1A1B21;
  color: #ffffff;
  border-radius: 10px;
}

img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.text-content {
  text-align: center;
  margin-top: 1.1em;
}

.heading {
  font-size: 1.5rem;
}

.sub-heading {
  font-size: .85rem;
  font-weight: 300;
  color: #f3bf99;
  line-height: 1.5;
}

.text-content a {
  display: block;
  font-size: .75rem;
  padding: .4rem 0 1rem 0;
  color: #ffffff;
  text-decoration: none;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.email-btn, .linkedin-btn {
  width: 115px;
  padding: .6em 1.2em;
  border-radius: 6px;
  border: none;
}

.fa-envelope, .fa-linkedin {
  margin-right: .3em;
}

.fa-linkedin, .linkedin-btn {
  color: #ffffff;
}
.linkedin-btn {
  background: #5093E2;
}
.section-about {
  margin-top: 1em;
}

.section-about, .section-interests {
  padding: 1em 2em;
}

.footer {
  width: 100%;
  padding: 1em;
  background-color: #161619;
  margin-top: 1.2em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.social-icons {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.social-icons i {
  color: #918E9B;
}